@use "global" as *;

// トップページ Archievement-card 就職実績

.archievement-card {
  position: relative;
  z-index: 1;
}

// 画像と肩書き
.archievement-card__heading {
  position: relative;
  z-index: 1;
}

.archievement-card__image {
  position: relative;
}

.archievement-card__image::before {
  content: "";
  display: block;
  padding-top: calc(230 / 345 * 100%);
}

.archievement-card__image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.archievement-card__position {
  display: inline-block;
  width: rem(180);
  height: calc(rem(16) * 1.5 + rem(18)); // font-size*line-height+上下のpadding
  padding: rem(9) 0;
  border: 1px solid $color-accent;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.5;
  position: absolute;
  left: rem(14);
  bottom: rem(16);
  @include mq(md) {
    top: rem(40);
    left: rem(40);
  }
}

.archievement-card__body {
  padding: rem(16) rem(14);
  @include mq(md) {
    position: absolute;
    left: rem(40);
    bottom: rem(40);
    z-index: 3;
    padding: 0;
  }
}

.archievement-card__body ul {
  margin-top: rem(8);
}

.archievement-card__title {
  font-family: $base-font-family;
  font-size: rem(24);
  color: $black;
  font-weight: $bold;
  line-height: 1.5;
}

.archievement-card__text {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $black;
  font-weight: $normal;
  line-height: 1.5;
}

.archievement-card__text:not(:first-child) {
  margin-top: rem(4);
}

// カードの角丸
.archievement-card--01 .archievement-card__image {
  border-radius: rem(10) 0 0 0;
}

.archievement-card--01 .archievement-card__image img {
  border-radius: rem(10) 0 0 0;
}
.archievement-card--02 .archievement-card__image {
  border-radius: 0 rem(10) 0 0;
}

.archievement-card--02 .archievement-card__image img {
  border-radius: 0 rem(10) 0 0;
}
.archievement-card--03 .archievement-card__image {
  border-radius: 0 0 0 rem(10);
}

.archievement-card--03 .archievement-card__image img {
  border-radius: 0 0 0 rem(10);
}
.archievement-card--04 .archievement-card__image {
  border-radius: 0 0 rem(10) 0;
}

.archievement-card--04 .archievement-card__image img {
  border-radius: 0 0 rem(10) 0;
}

