@use "global" as *;

// キャリアサポート

.carrier-support__contents-wrapper {
  @include mq(md) {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: rem(40);
    align-items: center;
  }
}

.carrier-support__image {
  position: relative;
  border-radius: rem(10);
}

.carrier-support__image::before {
  content: "";
  display: block;
  padding-top: calc(276 / 345 * 100%);
}

.carrier-support__image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: rem(10);
}

.carrier-support__body {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: 0;
  }
}

.carrier-support__text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(8);
}

