@use "global" as *;
// お問い合わせフォーム

.contact-form {
  width: 100%;
  background-color: $white;
  border: 1px solid $color-accent;
  border-radius: rem(10);
  padding: rem(24) rem(14) rem(40) rem(14);
  @include mq(md) {
    padding: rem(80) rem(110);
  }
}

// 各アイテム(labelとinputを囲むbox)
.contact-form__item {
  margin-top: rem(40);
  @include mq(md) {
    display: grid;
    grid-template-columns: 27.467% 1fr;
    gap: rem(67);
    margin-top: rem(62);
  }
}

.contact-form__item:first-child {
  margin-top: 0;
}

//見出し(必須＋見出しを囲むブロック）
// タグとテキストのline-heightが異なる場合は適宜調整
.contact-form__label {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $bold;
}

.contact-form__label--required {
  position: relative;
  padding-right: rem(16);
}

// *アスタリスク
.contact-form__label--required::after {
  content: "※";
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Zen Old Mincho" serif; //要確認
  font-size: rem(12);
  color: #CB0000;
  font-weight: $normal;
}

// テキスト入力エリア
.contact-form__input-area,
.contact-form__text-area {
  width: 100%;
  background: #F7F7F7;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;//正常入力時の文字色
  font-weight: $normal;
  border-radius: rem(5);
  padding: rem(11) rem(11) rem(11) rem(24);
  margin-top: rem(11);
}

// inputエリアとtextareaのplaceholderスタイル
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder,
select::placeholder {
  font-family: $base-font-family;   
  color: #BABABA; 
  font-size: rem(16); 
  font-weight: $normal;
}


// お問合せ完了ページのスタイル
.contact-form-completed .contact-form__input-area,
.contact-form-completed .contact-form__text-area {
  background: none;
  @include mq(md) {
    margin: 0;
    padding: 0;
  }

}

/* ============================================
/* 送信ボタン
/* ============================================ */

.contact-form__button {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(80);
  }
}

// .button--contact {
//   font-family: $base-font-family;
//   font-size: rem(16);
//   color: $white;
//   font-weight: $bold;
//   background-color: #FF8A00;
//   padding: rem(20) rem(40);
//   border-radius: rem(20);
// }

// 送信ボタングレイアウト（送信させないとき）
// .button--contact.disabled {
//   background-color: #cccccc;
//   color: #666666; 
//   cursor: not-allowed; 
// }

/* ============================================
/* エラー時のスタイル(Contact form7で実装する場合は不要）
/* ============================================ */

// // 各項目下に出すエラーメッセージのスタイル（赤字）
// .js-error-required,
// .js-checkbox-error,
// .js-radio-error,
// .js-select-error,
// .js-privacy-error {
//   font-family: $base-font-family;
//   font-size: rem(14);
//   color: $error-message-color;
//   font-weight: $normal;
//   margin-top: rem(8);
// }

// // エラー時の入力エリアの背景色
// .contact-form__input-area.errored,
// .contact-form__text-area.errored {
//   border: 1px solid #C94800;
//   background: rgba(201, 72, 0, 0.20);
//   color: #fff;
// }

// //placeholderエラー時文字色
// .contact-form__input-area.errored::placeholder,
// .contact-form__text-area.errored::placeholder {
//   color: $white; 
// }

// // ※入力必須項目です
// span.js-error-required {
//   display: block;
//   font-family: $base-font-family;
//   font-size: rem(14);
//   color: #C94800;
//   font-weight: $normal;
//   text-align: left;
// }

// .contact-form__error {
//   text-align: center;
//   margin-top: rem(20);
// }

// // ※必須項目が入力されていません。入力してください。（送信ボタンの下に表示）
// .error-message {
//   display: none;
//   font-family: $base-font-family;
//   font-size: rem(14);
//   color: #C94800;
//   font-weight: $normal;
//   position: relative;
// }

/* ============================================
/* 正規表現チェックを表示する時のスタイル
/* ============================================ */
// //正規表現チェックのテキスト
// .name-error,
// .email-error,
// .tel-error {
//   font-family: $base-font-family;
//   font-size: rem(14);
//   color: $color-accent;
//   font-weight: $normal;
//   text-align: left;
// }