@use "global" as *;

// 就職実績 Works 就職者インタビューカード

.interview-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(16);
  padding: rem(24) rem(14);
  border: 1px solid $color-accent;
  border-radius: rem(10);
  background-color: $white;
  @include mq(md) {
    grid-template-columns: 42.647% 1fr;
    gap: rem(24);
    padding: rem(46) rem(40);
  }
}

.interview-card__image {
  width: 100%;
  position: relative;
  border-radius: rem(5);
}

.interview-card__image:before {
  content: "";
  display: block;
  padding-top: 60.883%;//193/317
  @include mq(md) {
    padding-top: 66.551%;//193/290
  }

}

.interview-card__image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: rem(5);
}

.interview-card__title {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $bold;
  line-height: 1.5;
  @include mq(md) {
    font-size: rem(24);
  }
}

.interview-card__profile {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $color-accent;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(16);
}

.interview-card__text {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $black;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(8);
  @include mq(md) {
  margin-top: rem(16);
  }
}

