@use "global" as *;

.page-contact {
  margin-top: rem(-366);//667-301
  position: relative;
  z-index: 3;
  // margin-top: rem(301);
  @include mq(md) {
    margin-top: rem(-276);//768-492
    // margin-top: rem(492);
  }
}

.page-contact__inner.inner {
  max-width: rem(1000+50);
}

.page-contact__contact-form {

}