@use "global" as *;

.page-service {
  // margin-top: rem(301);
  margin-top: rem(-366);//667-301
  position: relative;
  z-index: 3;
  @include mq(md) {
    // margin-top: rem(492);
    margin-top: rem(-276);
  }
}

.page-service__inner.inner {
  @include mq(md) {
    max-width: rem(1000+50);
  }
}

.page-service__service-contents {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(120);
  }
}