@use "global" as *;

// 下層ページ お問い合わせサンクス

// 下層ページのFVにテキストを追加
.page-contact-thanks__text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(24);
  position: relative; 
  z-index: 100; 
  @include mq(md) {
    margin-top: rem(40);
  }
}

.page-contact-thanks__button {
  margin-top: rem(40);
  position: relative; 
  z-index: 101; 
  @include mq(md) {
    margin-top: rem(54);
  }
}

.page-contact-thanks__footer.footer {
  position: relative;
  z-index: 99;
}