@use "global" as *;

// 下層ページ ブログ

.page-blog {
  margin-top: rem(-366);//667-301
  position: relative;
  z-index: 3;
  @include mq(md) {
    margin-top: rem(-276);//768-492
  }
}

.page-blog__inner.inner {
  max-width: rem(1000+50);
}

.page-blog__container {
  background-color: $white;
  border: 1px solid $color-accent;
  border-radius: rem(10);
  padding: rem(24) rem(14) rem(40) rem(14);
  @include mq(md) {
    padding: rem(80) rem(40);
  }
}

.page-blog__pagination {
  margin-top: rem(22);
  margin-inline: auto;
  @include mq(md) {
    margin-top: rem(80);
  }
}
