@use "global" as *;

.pc-nav {
  display: none; //最初(SP)は非表示
  @include mq(md) {
    width: 100%;
  }
}

.pc-nav__items {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pc-nav__items li {
  border-top: 1px dotted #d4d4d4;
  display: flex;
  flex-direction: column;
}

.pc-nav__items li:last-child {
  background-color: $color-logo;
  border-bottom: 1px dotted #d4d4d4;
}

.pc-nav__items li a { 
  font-family: $base-font-family;
  font-size: rem(16);
  color: #1f1f1f;
  font-weight: $normal;
  line-height: 1.5;
  padding: rem(28) 0;
}

.pc-nav__item a:hover {
  color: $color-accent;
  background-color: #ffffff;
}

.pc-nav__item a:hover span {
  color: $color-accent;
}

.pc-nav__item a span {
  font-family: $second-font-family;
  font-size: rem(14);
  color: #1f1f1f;
  font-weight: $normal;
  line-height: 1.5;
  display: block;
  text-transform: capitalize;
}

// 「お問い合わせ」の文字色を白に
.pc-nav__items li:last-child a {
  color: $white; 
}

.pc-nav__items li:last-child a:hover {
  color: $color-accent; 
}

.pc-nav__items li:last-child a span {
  color: $white; 
}

.pc-nav__items li:last-child a:hover span {
  color: $color-accent; 
}