@use "global" as *;

// セクションタイトル

.section-title__jp {
  font-family: $base-font-family;
  font-size: rem(24);
  color: $black;
  font-weight: $bold;
  line-height: 1.5;
  @include mq(md) {
    font-size: rem(32);
  }
}

.section-title__en {
  font-family: $second-font-family;
  font-size: rem(14);
  color: $color-accent;
  font-weight: $normal;
  line-height: 1.5;
  display: inline-block;
  @include mq(md) {
    font-size: rem(16);
  }
}

// 要確認
.section-title__en::first-letter {
  text-transform: uppercase;
}

// トップページ 私たちについてのタイトル（白）
.section-title__jp--top-about-us {
  color: $white;
  position: relative; 
  z-index: 10; 
}

.section-title__en--top-about-us {
  color: $white;
  position: relative; 
  z-index: 10; 
}

// 下層ページ 私たちについてのタイトル（白）
.section-title__jp--page-about-us-white {
  color: $white;
  position: relative;
  z-index: 10;
}

.section-title__en--page-about-us-white {
  color: $white;
  position: relative;
  z-index: 10;
  text-transform: capitalize;
}

// contact-us-cardのテキストを白に（トップと下層共通のオレンジ背景のカード）
.section-title__jp--contact-us-card {
  color: $white;
  position: relative; 
  z-index: 10; 
}

.section-title__en--contact-us-card {
  color: $white;
  position: relative; 
  z-index: 10; 
}