@use "global" as *;

.service-contents__container {
  background-color: $white;
  border: 1px solid $color-accent;
  border-radius: rem(10);
  padding-top: rem(24);
  padding-right: rem(14);
  padding-bottom: rem(40);
  padding-left: rem(14);
  @include mq(md) {
    padding: rem(40);
  }
}

.service-contents__items {
  margin-top: rem(15);
  @include mq(md) {
    margin-top: rem(40);
  }
}