@use "global" as *;

// サービスメニュー群

.service-menus {
  max-width: rem(318);
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(16);
  margin-inline: auto;
  @include mq(md) {
    max-width: rem(1000);
    grid-template-columns: repeat(3, 1fr);
  }
}