@use "global" as *;

// トップページ サービス

.top-service {
  margin-top: rem(520);
  @include mq(md) {
    margin-top: rem(666);
  }
}

.top-service__button {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(64);
  }
}




